.quizContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.questionsContainer h1 {
  color: #751191;
  font-size: 1.6rem;
  font-weight: 900;
}

.quizContainer .questionsContainer button {
  all: unset;
  background-color: #e0aaff;
  color: rgb(34, 34, 167);
  border: 2px solid #e0aaff;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.2rem;
  width: 600px;
  font-weight: 500;
  transition: transform 0.3s ease, color 0.3s ease;
}

.quizContainer .questionsContainer button:hover {
  background-color: rgb(204, 141, 230);
  border-color: rgb(204, 141, 230);
  color: black;
  cursor: pointer;
  transform: translateX(10px);
}

.timerAndButton {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.buttonContainer {
  display: flex;
  justify-content: end;
}

.buttonContainer button {
  width: 200px;
  padding: 10px;
  margin: 0;
}

.correctAnswer {
  background-color: rgb(40, 150, 40) !important;
  color: white !important;
  border: 2px solid rgb(40, 150, 40) !important;
}

.incorrectAnswer {
  background-color: rgb(233, 66, 66) !important;
  color: white !important;
  border: 2px solid rgb(233, 66, 66) !important;
}

.questionsContainer button:focus {
  transform: translateX(100px);
  transition: transform 0.3s ease;
}
