.categoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.categoryContainer select {
  flex-basis: 50%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgb(184, 41, 184);
}

.categoryContainer select option {
  color: rgb(184, 41, 184);
  font-weight: 600;
}

select:focus {
  border-color: purple;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 420px) {
  .categoryContainer {
    width: 150%;
  }

  .categoryContainer select {
    font-size: 0.7rem;
  }
}

@media (min-width: 421px) and (max-width: 600px) {
  .categoryContainer {
    width: 140%;
  }

  .categoryContainer select {
    font-size: 0.9rem;
  }
}

@media (min-width: 601px) and (max-width: 750px) {
  .categoryContainer {
    width: 140%;
  }

  .categoryContainer select {
    font-size: 1.1rem;
  }
}

@media (min-width: 751px) and (max-width: 1124px) {
  .categoryContainer {
    width: 90%;
  }

  .categoryContainer select {
    font-size: 1.2rem;
  }
}
