.progressBarContainer {
  flex-basis: 10%;
}

progress {
  width: 56rem;
  height: 30px;
  border-radius: 7px;
}

progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: rgb(180, 69, 180);
  border-radius: 7px;
}

progress::-moz-progress-bar {
  background-color: rgb(180, 69, 189);
  border-radius: 7px;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
}

.progressContainer span {
  font-size: 1.5rem;
  font-style: italic;
}

@media (min-width: 320px) and (max-width: 600px) {
  progress {
    width: 80vw;
  }

  .progressContainer {
    width: 80vw;
  }

  .progressContainer span {
    font-size: 1rem;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  progress {
    width: 80vw;
  }

  .progressContainer {
    width: 80vw;
  }

  .progressContainer span {
    font-size: 1.3rem;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  progress {
    width: 80vw;
  }

  .progressContainer {
    width: 80vw;
  }

  .progressContainer span {
    font-size: 1.3rem;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  progress {
    width: 80vw;
  }

  .progressContainer {
    width: 80vw;
  }

  .progressContainer span {
    font-size: 1.5rem;
  }
}
